* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #20202d;
	color: #fff;
	font-family: Roboto;
	overflow-x: hidden;
}

textarea {
	resize: vertical;
	max-height: 300px;
	min-height: 100px;
}

.hero {
	padding-top: 50px;
	padding-bottom: 150px;
	background: linear-gradient(0.01deg, #000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.container {
	margin: auto;
	width: 90%;
	max-width: 1000px;
}

.section {
	padding-top: 64px;
	padding-bottom: 92px;
}

.social-link {
	margin-left: 20px;
}

.social-link:first-child {
	margin-left: 0;
}

.social-polity {
	display: block;
	margin-top: 74px;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #a5a5a5;
}

.hero-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 105px;
}

.section-title {
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 84px;
}

.section-title::after {
	content: "";
	display: block;
	width: 20px;
	height: 5px;
	color: #b68500;
}

.hero-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-subtitle {
	font-size: 24px;
	line-height: 28px;
	color: #ffbb01;
	display: inline-block;
	margin-bottom: 14px;
}

.hero-title {
	font-size: 50px;
	margin-bottom: 20px;
	line-height: 59px;
}

.hero-diskription {
	margin-bottom: 38px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	width: 445px;
}

.button,
.button-hero {
	background: #f7971e;
	background: -webkit-linear-gradient(to left, #ffa600, #ffae00, #ffd61f);
	background: linear-gradient(to left, #ffa600, #ffae00, #ffd61f);
	box-shadow: 0 4px 0 #c28e00;
	background-size: 200%;
	border-radius: 5px 5px 10px 10px;
	padding: 24px 42px;
	border: none;
	color: #000;
	cursor: pointer;
	font-size: 12px;
	line-height: 14px;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
}


.button-hero:hover,
	button:hover{
	background-position: right;
}

.button-hero:focus,
button:focus {
	background: -webkit-linear-gradient(to left, #f1a500, #ffdc40);
	background: linear-gradient(to left, #f1a500, #ffdc40);
}

.hero-avatar {
	width: 389px;
	height: 389px;
	background-color: #fff;
	background-image: url(../img/avatar.jpg);
	background-position: center -20px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	border: 13px solid #fff;
}

.features {
	background-color: #000;
}

.features-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features-item {
	flex-basis: 30%;
	margin-bottom: 63px;
}

.features-image {
	margin-bottom: 22px;
}

.features-title {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.features-text {
	font-size: 16px;
	line-height: 28px;
}

.projects {
	background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.project-image {
	border-radius: 6px;
	width: 380px;
	margin-right: 60px;
}

.project-text {
	flex-basis: 55%;
	display: flex;
	flex-wrap: wrap;
}

a.project-link {
	text-decoration-line: none;
	color: #fff;
	transition: ease 0.3s;
}

a.project-link::after {
	background-color: #ffbb01;
	display: block;
	content: "";
	height: 2px;
	width: 0;
	-webkit-transition: width 0.2s ease-in-out;
	-moz--transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}

a.project-link:hover:after,
a.project-link:focus:after {
	width: 100%;
}

.project-title {
	flex-basis: 100%;
	font-size: 23px;
	line-height: 28px;
	font-weight: 700;
}

.project-time,
.project-cost {
	flex-basis: 50%;
}

.project-time,
.project-cost,
.project-feedback {
	display: flex;
	align-items: flex-start;
}

.project-icon {
	flex-shrink: 0;
}

.project-subtitle {
	margin-bottom: 7px;
}

.project-paragraph {
	font-size: 16px;
	line-height: 22px;
}

.project-icon {
	margin-right: 16px;
}

.projects-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 44px;
}

.projects-bullet {
	width: 10px;
	height: 10px;
	border: 2px solid #ffbb01;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.projects-bullet-active {
	background-color: #ffbb01;
	cursor: pointer;
}

.project-time,
.project-cost {
	margin-top: 40px;
}

.project-cost {
	margin-bottom: 33px;
}

.contacts-form {
	background: #fff;
	box-shadow: -5px 5px 0 #ffc41d;
	border-radius: 5px;
	max-width: 395px;
	padding: 40px 48px 49px;
}

.form-title {
	color: #000;
	font-weight: bold;
	font-size: 18px;
	max-width: 290px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 29px;
}

.input {
	background: #f8f8f8;
	box-shadow: inset 0 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	padding: 15px 20px;
	border: none;
	outline: none;
	width: 100%;
	height: 63px;
	font-size: 14px;
	line-height: 28px;
	padding-left: 50px;
}

.input-email {
	margin-bottom: 17px;
	background-image: url(../img/mail.svg);
	background-repeat: no-repeat;
	background-position: center left 20px;
}

.input-textarea {
	margin-bottom: 17px;
	background-repeat: no-repeat;
	background-position: center left 20px;
}

.input-name {
	margin-bottom: 17px;
	background-image: url(../img/user-icon.svg);
	background-repeat: no-repeat;
	background-position: center left 20px;
}

.input-name:focus,
.input-textarea:focus,
.input-phone:focus,
.input-email:focus {
	border: 2.1px solid #ffbb01;
}

.input-phone {
	margin-bottom: 17px;
	background-image: url(../img/phone-icon.svg);
	background-repeat: no-repeat;
	background-position: center left 20px;
}

.form-button {
	width: 100%;
}

.contacts-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts-data {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 42px;
}

.contacts-text {
	flex-basis: 50%;
}

.contacts-phone,
.contacts-mail {
	flex-basis: 50%;
	margin-bottom: 53px;
}

.contacts-social {
	flex-basis: 100%;
}

.contacts-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 15px;
}

.contacts-link {
	text-decoration: none;
	color: #fff;
	margin-right: 37px;
}

.contacts-link:hover {
	border-bottom: 2px solid #fff;
}

.contacts-policy {
	color: #a5a5a5;
	font-size: 15px;
	line-height: 18px;
	margin-top: 72px;
	text-decoration-line: underline;
}

@media (max-width: 1100px) {
	.hero-avatar {
		width: 300px;
		height: 300px;
		border-width: 10px;
		background-position: center top -20px;
	}
}

@media (max-width: 836px) {
	.hero-content {
		flex-direction: column;
	}

	.section-title {
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 84px;
	}

	.hero-title {
		font-size: 40px;
		margin-bottom: 20px;
		line-height: 59px;
	}

	.hero-avatar {
		order: 0;
		width: 270px;
		height: 270px;
		border-width: 10px;
		background-position: center top -12px;
		margin-bottom: 17px;
	}

	.hero-text {
		order: 1;
		text-align: center;
	}

	.features-item {
		flex-basis: 200px;
	}

	.projects-slide {
		flex-direction: column;
	}

	.project-image {
		margin-bottom: 46px;
		width: 430px;
	}

	.contacts-block {
		flex-direction: column;
		align-items: flex-start;
	}

	.contacts-form {
		margin-bottom: 58px;
	}

	.hero-diskription {
		width: auto;
	}

	.logo {
		width: 75%;
	}
}

@media (max-width: 564px) {
	.hero-subtitle {
		font-size: 16px;
		line-height: 27px;
	}

	.hero-avatar {
		width: 123px;
		height: 123px;
		border-width: 4px;
		background-size: 100%;
		background-position: center -7px;
	}

	.hero-title {
		font-size: 24px;
		line-height: 28px;
	}

	.project-image {
		width: 95%;
	}

	.hero-diskription {
		font-size: 14px;
		line-height: 140%;
	}

	.hero-header {
		margin-bottom: 38px;
	}

	.social-link {
		margin-left: 7px;
	}

	.features-block {
		flex-direction: column;
	}

	.section-title {
		font-size: 19px;
		line-height: 22px;
		text-align: center;
	}

	.features-title {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 6px;
	}

	.features-text {
		font-size: 14px;
		line-height: 28px;
	}

	.section {
		padding-bottom: 0;
	}

	.form-title {
		font-size: 15px;
		line-height: 140%;
	}

	.project-paragraph,
	.project-subtitle,
	.project-subtitle {
		font-size: 14px;
	}

	.project-title {
		font-size: 18px;
		text-align: center;
	}

	.contacts-title {
		font-size: 18px;
	}

	.contacts-link {
		font-size: 14px;
	}

	.contacts-data {
		flex-direction: column;
	}

	.social-polity {
		margin-bottom: 50px;
	}

	.button {
		font-size: 11px;
	}

	.features-item {
		margin-bottom: 30px;
	}

	.hero {
		padding-bottom: 100px;
		padding-top: 40px;
	}

	.section-title {
		margin-bottom: 48px;
	}
}

@media (max-width: 450px) {

	.project-time,
	.project-cost {
		flex-basis: 55%;
	}
}
